div(class="tile is-child")
  .guestbook
    form(class="guestbook-form" method="post" action="/feed")
      .field
        lable(class="label" for="newEntry")
        input(class="input" name="newEntry" type="text" id="newEntry"
        placeholder="Sign the Guestbook!")
      .control
        button(class="button is-primary" type="submit") Sign
div(class="tile is-child")    
  h2(class="subtitle") Recent Guestbook Entries:
  .entries
    each entry in renderEntries
      article(class="media")
        figure(class="media-left")
          strong=entry.username
        div(class="media-content guestbook-entry")
          div(class="content" id=entry._id)
            p=entry.content
            p= new Date(entry.date)
            each reply in entry.replies
              article(class="media")
                div(class="media-content entry-reply")
                  p=reply
            button(class="button is-primary entry-reply-submit") Reply

  script(type="text/javascript" src="../static/lib/reply.js")